@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --gold:#FFD700;
    --gold-light:#FFF5A5;
    --dark:#050505;
    --card:rgba(255,255,255,.04);
    --border:rgba(255,215,0,.15);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:var(--dark);
    color:#fff;
    overflow-x:hidden;
    position:relative;
}

body::before{
    content:'';
    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at 20% 20%, rgba(255,215,0,.12), transparent 25%),
    radial-gradient(circle at 80% 80%, rgba(255,215,0,.10), transparent 25%);
    z-index:-2;
}

body::after{
    content:'';
    position:fixed;
    inset:0;
    backdrop-filter:blur(120px);
    z-index:-1;
}

header{
    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    width:90%;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,.03);
    backdrop-filter:blur(20px);
    border:1px solid var(--border);
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.4);
    z-index:1000;
}

.logo{
    font-size:2.8rem;
    font-weight:800;
    background:linear-gradient(
    135deg,
    var(--gold),
    #fff,
    var(--gold));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.logo:hover{
    filter:drop-shadow(0 0 20px var(--gold));
}

nav a{
    position:relative;
    margin-left:35px;
    color:#fff;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

nav a::after{
    content:'';
    position:absolute;
    bottom:-6px;
    left:0;
    width:0;
    height:2px;
    background:var(--gold);
    transition:.4s;
}

nav a:hover{
    color:var(--gold);
}

nav a:hover::after{
    width:100%;
}

section{
    min-height:100vh;
    padding:120px 10%;
}

.home{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;
}

.home-content h1{
    font-size:5rem;
    line-height:1.2;
}

.home-content span{
    background:linear-gradient(
    90deg,
    var(--gold),
    #fff,
    var(--gold));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.home-content h3{
    font-size:2rem;
    margin:15px 0;
}

.home-content p{
    color:#cfcfcf;
    line-height:1.8;
    margin-top:10px;
}

.home-img{
    position:relative;
}

.home-img{
    padding:15px;
    background:rgba(255,255,255,.04);
    border:1px solid rgba(255,215,0,.2);
    border-radius:30px;
    backdrop-filter:blur(20px);
}


.home-img img{
    width:320px;
    height:400px;
    object-fit:cover;
    object-position:center top;
    border-radius:20px;
    border:4px solid rgba(255,215,0,.6);

    box-shadow:
    0 0 25px rgba(255,215,0,.4),
    0 0 50px rgba(255,215,0,.15);

    transition:.5s;
}
.home-img img{
    object-position:50% 20%;
}



.home-img img:hover{
    transform:scale(1.05);
}

@keyframes spin{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

.social-icons{
    margin-top:25px;
}

.social-icons a{
    width:50px;
    height:50px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    border:2px solid var(--gold);
    color:var(--gold);
    text-decoration:none;
    margin-right:15px;
    transition:.4s;
}

.social-icons a:hover{
    background:var(--gold);
    color:black;
    transform:translateY(-8px) scale(1.1);
    box-shadow:0 0 25px var(--gold);
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 40px;
    border-radius:50px;
    text-decoration:none;
    font-weight:700;
    color:black;
    background:linear-gradient(
    135deg,
    var(--gold),
    var(--gold-light));
    position:relative;
    overflow:hidden;
}

.btn::before{
    content:'';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,.6),
    transparent);
    transition:.8s;
}

.btn:hover::before{
    left:100%;
}

.btn:hover{
    box-shadow:0 10px 30px rgba(255,215,0,.4);
    transform:translateY(-5px);
}

.heading{
    text-align:center;
    font-size:4rem;
    color:var(--gold);
    margin-bottom:80px;
    position:relative;
}

.heading::after{
    content:'';
    width:120px;
    height:4px;
    background:var(--gold);
    position:absolute;
    bottom:-15px;
    left:50%;
    transform:translateX(-50%);
    border-radius:50px;
    box-shadow:0 0 15px var(--gold);
}

.card-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:var(--card);
    border:1px solid var(--border);
    border-radius:25px;
    backdrop-filter:blur(20px);
    padding:30px;
    transition:.5s;
}

.card:hover{
    transform:translateY(-15px);
    box-shadow:0 20px 50px rgba(255,215,0,.15);
}

.card h3{
    color:var(--gold);
    margin-bottom:15px;
}

.contact-form{
    padding-top:100px ;
    max-width:700px;
    margin:auto;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:18px;
    margin-bottom:20px;
    border:none;
    border-radius:12px;
    background:#111;
    color:white;
}

.contact-form button{
    width:100%;
    padding:18px;
    border:none;
    border-radius:12px;
    background:var(--gold);
    font-weight:700;
    cursor:pointer;
}

.contact-form button:hover{
    box-shadow:0 0 25px var(--gold);
}

footer{
    padding:30px;
    text-align:center;
    border-top:1px solid var(--border);
    color:#aaa;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:var(--gold);
    border-radius:20px;
}

::-webkit-scrollbar-track{
    background:#000;
}

@media(max-width:991px){

    .home{
        flex-direction:column-reverse;
        text-align:center;
    }

    .home-content h1{
        font-size:3.5rem;
    }

    .home-img img{
        width:280px;
        height:280px;
    }
}
.hidden{
    opacity:0;
    transform:translateY(60px);
}

.show{
    opacity:1;
    transform:translateY(0);
    transition:1s ease;
}

.progress-bar{
    position:fixed;
    top:0;
    left:0;
    width:0;
    height:4px;
    background:#FFD700;
    z-index:9999;
}

#topBtn{
    position:fixed;
    right:25px;
    bottom:25px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#FFD700;
    color:black;
    font-size:24px;
    cursor:pointer;
    display:none;
    align-items:center;
    justify-content:center;
    z-index:999;
}

.ripple{
    position:absolute;
    border-radius:50%;
    transform:scale(0);
    animation:ripple .6s linear;
    background:rgba(255,255,255,.5);
}

@keyframes ripple{
    to{
        transform:scale(4);
        opacity:0;
    }
}
#education .card,
#achievements .card{
    text-align:center;
}

#education .card p,
#achievements .card p{
    margin-top:10px;
    color:#ccc;
}
@media (max-width: 768px) {

    header{
        padding:15px 20px;
    }

    .logo{
        font-size:2rem;
    }

    .home{
        flex-direction:column-reverse;
        text-align:center;
        gap:40px;
    }

    .home-content h1{
        font-size:3rem;
    }

    .home-content h3{
        font-size:1.5rem;
    }

    .home-content p{
        font-size:1rem;
    }

    .home-img img{
    width:280px;
    height:350px;
}
}
    

    .card-container{
        grid-template-columns:1fr;
    }

    section{
        padding:100px 5%;
    }

    .heading{
        font-size:2.5rem;
    }

    .social-icons a{
        width:45px;
        height:45px;
        margin:8px;
    }

    .btn{
        padding:12px 30px;
    }
}
img{
    max-width:100%;
    height:auto;
}
.menu-btn{
    display:none;
    font-size:2rem;
    color:var(--gold);
    cursor:pointer;
}

@media(max-width:768px){

    .menu-btn{
        display:block;
    }

    nav{
        position:absolute;
        top:100%;
        right:0;
        width:250px;
        background:#111;
        flex-direction:column;
        display:none;
        padding:20px;
        border-radius:15px;
        border:1px solid rgba(255,215,0,.2);
    }

    nav.active{
        display:flex;
    }

    nav a{
        margin:15px 0;
    }
}